* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

/*Debug*/

.debug>.site_header {
    height: 100px;
}

.debug .logo {
    background-color: aqua;
    width: 24%;
    height: 100px;
    display: inline-block;
}

.debug .menu {
    background-color: brown;
    width: 50%;
    height: 100px;
    display: inline-block;
}

.debug .selected {
    background-color: chartreuse;
    width: 25%;
    height: 100px;
    display: inline-block;
}

.debug .site_main {
    background-color: crimson;
    height: 600px;
}

.debug .site_footer {
    height: 100px;
}

.debug .Sx {
    width: 24%;
    background-color: darkmagenta;
    height: 100px;
    display: inline-block;
}

.debug .Dx {
    width: 25%;
    background-color: darkgrey;
    height: 100px;
    display: inline-block;
}

.debug .center {
    width: 50%;
    background-color: darkgreen;
    height: 100px;
    display: inline-block;
}

/*******/

.fas {
    vertical-align: middle;
    height: 2rem;
    color: #a3a3a3;
}

/*************
*Header*
**************/

.flex {
    display: flex;
}

.site_header {
    width: 12%;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #000000;
    padding: 1rem;
}

.logo {
    padding: 1rem;
}

.logo img {
    color: white;
    height: 50px;
}

.menu span {
    color: #a3a3a3;
}

.home {
    margin-bottom: 1rem;
}

.research {
    margin-bottom: 1rem;
}

.home span, .research span, .library span {
    padding-left: 5px;
}

h2 {
    margin-top: 1rem;
    color: white;
    font-size: 15px;
}

.square {
    display: inline-block;
    vertical-align: sub;
    margin: 1rem 0;
    height: 30px;
    width: 30px;
    background-color: #a3a3a3;
}

.fa-plus {
    margin: 6px;
    font-size: 20px;
    color: black;
}

ul {
    list-style: none;
}

li {
    line-height: 35px;
    color: #a3a3a3
}

.null {
    margin: 2.5rem;
    padding: 2rem;
}

.selected .download {
    vertical-align: middle;
    height: 15px;
    color: #a3a3a3;
}

.selected.install {
    color: #a3a3a3;
}

hr {
    border: 1px solid #a3a3a3
}

.creator {
    margin-top: 1rem;
}

.selected .profile {
    vertical-align: middle;
    height: 30px;
    border-radius: 50%;
    background-color: #a3a3a3;
}

.selected .name {
    color: white;
    font-weight: 900;
}

/************/

/**********
*Main*
************/

.site_main {
    height: calc(100vh - 150px);
}

/***********/

/***********
*Footer*
************/

.site_footer {
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    position: fixed;
    flex-direction: row;
    height: 150px;
}

.text {
    float: left;
    margin-top: 4rem;
}

.Sx {
    width: 20%;
}

.Sx .imagine {
    float: left;
    margin: 3rem 1rem
}

.imagine img {
    height: 80px;
}

.Sx h3 {
    float: left;
    color: white;
}

.Sx p {
    color: #a3a3a3;
}

.Sx i {
    float: left;
    margin-top: 4rem;
    padding-left: 2rem;
    font-size: 20px;
    color: #a3a3a3;
}

.center {
    width: 65%;
    text-align: center;
}

.music span {
    color: white;
}

.icons {
    display: inline-block;
    margin: 2rem 0 1rem 0;
}

.time {
    margin: 0 .5rem;
    height: 5px;
    background-color: #a3a3a3;
    border-radius: 1%/50%;
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

.icons .fas, .icons .far {
    font-size: 30px;
    padding: 9px;
    color: white;
}

.fa-play-circle {
    vertical-align: top;
}

.Dx {
    width: 15%;
}

.icons2 {
    display: inline-block;
    margin: 2rem 0 1rem 0;
}

.icons2 .fas {
    font-size: 15px;
    padding: 5px;
    color: white;
}

.volume {
    margin: 2rem 0;
    height: 5px;
    background-color: #a3a3a3;
    border-radius: 1%/50%;
    width: 35%;
    display: inline-block;
    vertical-align: bottom;
}