* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

/*Debug*/

.debug>.site_header {
    height: 100px;
}

.debug .logo {
    background-color: aqua;
    width: 24%;
    height: 100px;
    display: inline-block;
}

.debug .menu {
    background-color: brown;
    width: 50%;
    height: 100px;
    display: inline-block;
}

.debug .selected {
    background-color: chartreuse;
    width: 25%;
    height: 100px;
    display: inline-block;
}

.debug .site_main {
    background-color: crimson;
    height: 600px;
}

.debug .site_footer {
    height: 100px;
}

.debug .Sx {
    width: 24%;
    background-color: darkmagenta;
    height: 100px;
    display: inline-block;
}

.debug .Dx {
    width: 25%;
    background-color: darkgrey;
    height: 100px;
    display: inline-block;
}

.debug .center {
    width: 50%;
    background-color: darkgreen;
    height: 100px;
    display: inline-block;
}

/*******/

.fas {
    vertical-align: middle;
    height: 2rem;
    color: #a3a3a3;
}

/*************
*Header*
**************/

.flex {
    display: flex;
}

.site_header {
    width: 12%;
    justify-content: space-between;
    flex-direction: column;
    background-color: #000000;
    padding: 1rem;
    position: fixed;
    z-index: 1;
    height: calc(100% - 150px);
}

.logo {
    padding: 1rem;
}

.logo img {
    color: white;
    height: 50px;
}

.menu span {
    color: #a3a3a3;
}

.menu img {
    padding-left: 5px;
}

.home {
    margin-bottom: 1rem;
    border-left: lime 3px solid;
}

.research {
    margin-bottom: 1rem;
}

.home span, .research span, .library span {
    padding-left: 5px;
}

h2 {
    margin-top: 1rem;
    color: white;
    font-size: 15px;
}

.square {
    display: inline-block;
    vertical-align: sub;
    margin: 1rem 0;
    height: 30px;
    width: 30px;
    background-color: #a3a3a3;
}

.fa-plus {
    margin: 6px;
    font-size: 20px;
    color: black;
}

ul {
    list-style: none;
}

li {
    line-height: 35px;
    color: #a3a3a3
}

.null {
    margin: 2.5rem;
    padding: 2rem;
}

.selected .download {
    vertical-align: middle;
    height: 15px;
    color: #a3a3a3;
}

.selected.install {
    color: #a3a3a3;
}

hr {
    border: 1px solid #a3a3a3
}

.creator {
    margin-top: 1rem;
}

.selected .profile {
    vertical-align: middle;
    height: 30px;
    border-radius: 50%;
    background-color: #a3a3a3;
}

.selected .name {
    color: white;
    font-weight: 900;
}

/************/

/**********
*Main*
************/

.site_main {
    height: 100%;
    overflow: scroll;
    min-width: 1440px;
    background-color: #141922;
}

.container {
    flex-direction: column;
}

.upgrade {
    width: 100%;
    background-color: #080b12;
    height: 60px;
    position: fixed;
}

.upgrade a {
    color: white;
    border: 1px solid white;
    background-color: #080b12;
    border-radius: 10%/50%;
    padding: .5rem 3rem;
    margin: .5rem 1rem 0 0rem;
    float: right;
    text-decoration: none;
}

.nav {
    padding-top: 3rem;
}

nav a {
    color: #5a5a5a;
    text-decoration: none;
    display: inline-block;
    font-weight: 900;
}

nav ul {
    margin-top: 1rem;
    text-align: center;
}

nav li {
    padding: 1rem;
    display: inline;
}

.first {
    border-bottom: lime 1px solid;
}

.song {
    width: 100%;
    height: 475px;
    padding-left: 240px;
}

.song h2 {
    margin: 2rem 1rem;
    font-size: 30px;
}

.content {
    margin: 0rem 2rem;
    padding: 1rem 0;
    width: 10%;
    float: left;
    position: relative;
}

.image img {
    height: 180px;
    width: 180px;
}

.play_grande {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 37%;
    left: 57%;
    transform: translate(-50%, -50%);
    background-color: #000000c7;
    width: 182px;
    height: 190px;
    visibility: hidden;
}

.play_grande2 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000c7;
    width: 180px;
    height: 180px;
    margin: -0.2rem .3rem;
    visibility: hidden;
}

.play_grande3 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 38%;
    left: 57.5%;
    transform: translate(-50%, -50%);
    background-color: #000000c7;
    width: 180px;
    height: 184px;
    visibility: hidden;
}

.name {
    color: white;
    text-align: center;
    padding: 10px 0;
}

.subtitle {
    color: #66696e;
    text-align: center;
}

.song2 {
    width: 100%;
    height: 375px;
    padding-left: 240px;
}

.song2 img {
    height: 200px;
    width: 200px;
    padding: 1rem;
}

.song2 .name {
    margin-left: 20px;
    text-align: center;
}

.song2 h2, .song3 h2 {
    margin: 2rem 1rem;
    font-size: 30px;
}

.subtitle2, .subtitle3 {
    margin: 1rem 1rem;
    color: #66696e;
}

.song3 {
    width: 100%;
    padding-left: 240px;
}

.song3 img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 1rem;
}

.song3 .name {
    margin-left: 20px;
    text-align: center;
}

/***********/

/***********
*Footer*
************/

.site_footer {
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    position: fixed;
    flex-direction: row;
    height: 150px;
    z-index: 5;
}

.text {
    float: left;
    margin-top: 4rem;
}

.Sx {
    width: 20%;
}

.Sx .imagine {
    float: left;
    margin: 3rem 1rem
}

.imagine img {
    height: 80px;
}

.Sx h3 {
    float: left;
    color: white;
}

.Sx p {
    color: #a3a3a3;
}

.Sx i {
    float: left;
    margin-top: 4rem;
    padding-left: 2rem;
    font-size: 20px;
    color: #a3a3a3;
}

.center {
    width: 65%;
    text-align: center;
}

.music span {
    color: white;
}

.icons {
    display: inline-block;
    margin: 2rem 0 1rem 0;
}

.time {
    margin: 0 .5rem;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 1%/50%;
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.Control {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.Control2 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.time2 {
    height: 5px;
    background-color: #a3a3a3;
    border-radius: 1%/50%;
    width: 30%;
    vertical-align: middle;
}

.icons .fas, .icons .far {
    font-size: 25px;
    padding: 9px;
    color: white;
}

.fa-play-circle {
    font-size: 35px;
    vertical-align: top;
}

.Dx {
    margin-top: 3rem;
    width: 15%;
}

.icons2 {
    display: inline-block;
    margin: 2rem 0 1rem 0;
}

.icons2 .fas {
    font-size: 15px;
    padding: 5px;
    color: white;
}

.volume {
    margin: 2rem 0;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 1%/50%;
    width: 35%;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}

.volume2 {
    height: 5px;
    background-color: #a3a3a3;
    border-radius: 1%/50%;
    width: 35%;
    vertical-align: bottom;
}

/************/

/*Responsive*/

nav a:hover {
    color: white;
}

.home span:hover {
    color: white;
}

.research span:hover {
    color: white;
}

.library span:hover {
    color: white;
}

.install:hover {
    color: white
}

.playlist span:hover {
    color: white;
}

.playlist li:hover {
    color: white;
}

.upgrade a:hover {
    padding: .7rem 4rem;
}

.content:hover .play_grande {
    visibility: visible;
}

.content:hover .play_grande2 {
    visibility: visible;
}

.content:hover .play_grande3 {
    visibility: visible;
}

.text p:hover {
    text-decoration: underline;
}

.fa-heart:hover, .fa-folder:hover {
    color: white;
}

.icons .fa-play-circle:hover {
    font-size: 35px;
}

.time:hover .time2 {
    background-color: lightgreen;
}

.time:hover .Control {
    visibility: visible;
}

.volume:hover .volume2 {
    background-color: lightgreen;
}

.volume:hover .Control2 {
    visibility: visible;
}

/*****MQ*****/

@media screen and (max-width:1440px) {
    .logo {
        padding: 1rem 0;
    }
    .logo img {
        height: 40px;
    }
    .menu span, li {
        font-size: 13px;
    }
    .content {
        width: 15%;
        flex-shrink: 1;
    }
    .song, .song2, .song3 {
        padding-left: 180px;
    }
    .song {
        height: 600px;
    }
    .play_grande, .play_grande3 {
        left: 48%;
    }
    .Sx i {
        padding-left: 1rem;
    }
}